/*About Page Css*/

.mid{
	margin: 0 auto;
	width: 1100px;
}

#aboutPage{
	width: 100%;
	padding-top: 150px;
	padding-bottom: 50px;
}

.about{
	margin: 0 auto;
	width: 81px;
	height: 81px;
	background: url(../images/about.png) no-repeat;
	background-size: cover;
	/*border: 1px #111 solid;*/
	margin-bottom: 20px;
}

#aboutPage h1, #whyPage h1, .allH{
	text-align: center;
	font-family: PT;
	font-size: 40px;
	color: #999;
}

.allP{
	margin: 0 auto;
	width: 600px;
	padding: 10px;
	margin-top: 20px;
	text-align: center;
	font-family: Dosis;
	font-size: 30px;
	color: #848482;
}

.back1{
	margin-top: 70px;
	margin-bottom: 60px;
	width: 100%;
	padding-top:150px;
	padding-bottom:150px;
	background: url(../images/back3.jpg) no-repeat fixed;
	background-size: cover;  
}

.back1 h2{
	margin:0 auto;
	width: 500px;
	padding: 10px;
	text-align: center;
	font-family: PT;
	font-size: 60px;
	color: #fff;
	letter-spacing: 2px;
}


.philosophy{
	margin: 0 auto;
	width: 81px;
	height: 81px;
	background: url(../images/philosophy.png) no-repeat;
	background-size: cover;
	/*border: 1px #111 solid;*/
	margin-bottom: 20px;
	margin-top: 80px;
}

.back2{
	margin-top: 70px;
	margin-bottom: 60px;
	width: 100%;
	padding-top:150px;
	padding-bottom:150px;
	background: url(../images/back2.jpg) no-repeat fixed;
	background-size: cover;  
}

.back2 h2{
	margin:0 auto;
	width: 500px;
	padding: 10px;
	text-align: center;
	font-family: PT;
	font-size: 40px;
	color: #fff;
	letter-spacing: 2px;
}

.smallFont{
	font-size: 26px !important;
}

.work{
	margin: 0 auto;
	width: 81px;
	height: 81px;
	background: url(../images/work.png) no-repeat;
	background-size: cover;
	/*border: 1px #111 solid;*/
	margin-bottom: 20px;
	margin-top: 80px;
}

.whyBody{
	background: #ecf0f1;
}

#whyPage, #servicesPage{
	margin: 0 auto;
	width: 1100px;
	background: #fff;
	padding-top: 100px;
	padding-bottom: 50px;
}

.whyRiot{
	margin: 0 auto;
	width: 81px;
	height: 81px;
	background: url(../images/retina.svg) no-repeat;
	background-size: cover;
	/*border: 1px #111 solid;*/
	margin-bottom: 20px;
	margin-top: 80px;
}

#whyPage .allP{
	margin: 0 auto;
	width: 900px;
	padding: 10px;
	margin-top: 20px;
	text-align: left;
	font-family: Dosis;
	font-size: 30px;
	color: #848482;
}

.reasons{
	margin: 0 auto;
	width: 900px;
	padding: 10px;
	margin-top: 20px;
	text-align: left;
	font-family: Dosis;
	font-size: 30px;
	color: #848482;
}

.reasons li{
	list-style: url(../images/done.png) no-repeat;
	font-size: 24px;
	padding: 8px;
}

.servicesIcons{
	margin: 0 auto;
	width: 128px;
	height: 128px;
	/*border: 1px #111 solid;*/
	margin-bottom: 20px;
	margin-top: 80px;
	
}

.exibition{
	background: url(../images/ex.png) no-repeat;
	background-size: cover;
}

.party{
	background: url(../images/party.png) no-repeat;
	background-size: cover;
}

.brand{
	background: url(../images/brand.png) no-repeat;
	background-size: cover;
}

.corporate{
	background: url(../images/corporate.png) no-repeat;
	background-size: cover;
}

.entertainment{
	background: url(../images/entertainment.png) no-repeat;
	background-size: cover;
}

.celeb{
	background: url(../images/celeb1.png) no-repeat;
	background-size: cover;
}

.contact{
	background: url(../images/mail.svg) no-repeat;
	background-size: cover;
}


.servicesImg{
	margin-top: 70px;
	width: 100%;
	margin-bottom: 50px;
}

#twoSides{
	margin:0 auto;
	width: 90%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	/*border: 1px #f00 solid;*/
}

#twoSides div{
	display: inline-block;
	*display: inline;
}

#leftSide, #rightSide{
	width: 45%;
	/*border: 1px #00f solid;	*/
}

#rightSide{
	width: 53%;
	/*border: 1px #00f solid;*/
}

#twoSides p{
	text-align: left;
	font-family: Dosis;
	font-size: 24px;
	color: #848482;
}

#twoSides p span{
	color: #666;
	font-size: 32px;
	font-weight: bold;
}

.salesImg{
	width: 90%;
}

#listOfSales{
	padding-left:500px;
	/*border: 1px #f00 solid; */
}

#listOfSales ul{
	font-family: Dosis;
	font-size: 30px;
	font-weight: bold;
	color: #666;
}

#listOfSales ul li{
	font-family: Dosis;
	font-size: 26px !important;
	font-weight: 100 !important;
	color: #848482 !important;
	padding: 3px;
	padding-left: 30px;
}

#contactDiv{
	margin: 0 auto;
	width: 90%;
	/*border:1px #f00 solid;*/
	margin-top: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#contactDiv div{
	display: inline-block;
	*display: inline;
}

#contactRight, #contactLeft{
	width: 48%;
	/*border: 1px #00f solid;*/
}

#contactRight{float: right;}

#contactLeft p{
	font-family: Ubuntu;
	font-size: 26px;
	color: #7f8c8d;
	padding-left: 50px;	
}

#contactLeft p span{
	color: #F52887 !important;
}

#contactRight p{
	font-family: Ubuntu;
	font-size: 26px;
	color: #F52887;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px; 
}

#sendForm{
	margin: 0 auto;
	width: 70%;
}

#sendForm input:not([type="submit"]){
	width: 100%;
	height: 30px;
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: Myriad;
	font-size: 22px;
	border: 2px #ccc solid;
	color: #7f8c8d;
	transition: all 0.3s ease;
}

#sendForm input:not([type="submit"]):focus{
	color: #F52887;
	border-color: #F52887;
}

#sendForm textarea{
	width: 100%;
	height: 100px;
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: Myriad;
	font-size: 22px;
	border: 2px #ccc solid;
	color: #7f8c8d;
	transition: all 0.3s ease;
	resize: none;
}

#sendForm textarea:focus{
	color: #F52887;
	border-color: #F52887;
}

#sendForm input[type="submit"]{
	border:none;
	padding:10px;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
	background: #F52887;
	font-family: Ubuntu;
	font-size: 16px;
	margin-bottom: 20px;
	cursor: pointer;
}